table{
    width: 35rem;
    
}
.outer-table{
    border-collapse: collapse;
}
#table-output{
    border-collapse: collapse;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
th{
    padding-top: 1.2rem;
}
#firstNameInvalid, #lastNameInvalid, #emailInvalid, #phoneNumberInvalid, #passwordInvalid, #genderInvalid, #addressInvalid, #languagesInvalid, #fieldOfInterestInvalid, #fileInvalid{
    visibility: hidden;
    color: red;
}
#table-output{

    display: none;
}
